@import "../../../scss/base";
@import url('https://fonts.googleapis.com/css?family=Dokdo');

.menu {
  position: fixed;
  top: 0px;
  left: 0px;
  padding: 30px 5%;
  width: 100%;
  height: 100px;
  opacity: 0.8;
  background-color: $base-color;
  p {
    font-family: 'Dokdo', cursive;
    font-size: 3em;
  }
}