@import "../../../scss/base";
@import url('https://fonts.googleapis.com/css?family=Dokdo');

.menu {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100px;
  opacity: 0.8;
  background-color: $base-color;
  .logo {
    display: inline-block;
    position: relative;
    top: 30px;
    left: 1em;
    font-family: 'Dokdo', cursive;
    font-size: 48px;
    @include mq-down() {
      font-size: 24px;
      color: yellow;
    }
  }
}