@import "../../../scss/base";
@import '../../../scss/mixin/share';

#about {
  @include content-top();
  .subtitle {
    @include content-subtitle();
  }
  .face {
    background-image: url("../../../img/top/face.png");
    width:  120px;
    height: 155px;
    margin: 20px;
    border-radius: 50%;
    background-position: center center;
    display: block;
    position: relative;
    float: left;
  }
  .atmosphere {
    @include content-atmosphere('../../../img/top/zattou.jpg');
  }
  .concrete {
    @include content-cconcrete();
    .contents {
      @include content-body();
    }
  }
}